@font-face {
    font-family: logoFont;
    src: url("../fonts/HolidayFree.otf");
}

body, html {
    width: 100%;
    height: auto;
}

body {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: relative;
    left: 21.5%;
    top: 30px;
    height: 80px;
    width: 60%;

}

header h1 {
    font-family: logoFont;
    position: relative;
    top: -65%;
    left: 12%;
}

.box {
    position: relative;
    padding-left: 1%;
    margin-left: 1%;
    margin-top: 8%;
    width: 98%;
    height: auto;
    min-height: 100vh;
}

.menu {
    position: relative;
    top: -35%;
    left: 25%;
}

.menu ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 130px;
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 10px 15px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}

.menu li a:hover {
    color: white;
    background: gray;
}

.kontener {
    margin-left: 9.7%;
    margin-bottom: 5%;
    width: 80%;
    background-color: darkgray;
    padding-bottom: 2.5rem;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}

.kontener h1 {
    font-size: 25px;
}

.kontener .table {
    margin: 0;
    width: 100%;
}

.kontener td, th {
    border: none;
}

.kontener .fot {
    width: 500px;
    height: 250px;
    margin: 0;
}

.kontener img {
    width: 500px;
    height: 250px;
}

.kontener .title a {
    color: black;
}

.kontener .title a:hover {
    color: white;
    background-color: gray;
    text-decoration: none;
}

.kontener .info ul {
    margin-left: 12px;
    padding-left: 12px;
}

.kontener .info h4 {
    padding-top: 20px;
    text-align: center;
}

.kontener .admctl a {
    font-size: 20px;
    color: gray;
}

.kontener .admctl ol {
    list-style-type: none;
    text-align: right;
}

.kontener .admctl li {
    margin-bottom: 10px;
}

.stopka {
    position: absolute;
    left: 10.5%;
    bottom: 0;
    width: 79.4%;
    height: 2.5rem;
    color: white;
    background-color: darkgray;
    text-align: center;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}